body {
  min-height: 100vh;
}
.dashboard-header-stats {
  height: 100px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid black;
  // box-shadow: 1px 1px 4px black;
  margin-top: 15px;
}

.total-backers, .live-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 24px;
    margin-left: 25px;
  }
}
.total-backers {
  border-right: 1px solid black;
}

.dashboard-category-header {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 24px;
  div {
    width: 260px;
    padding-left: -25px;
    
    span {
      cursor: pointer;
      margin: 0 10px;
      color: rgb(150,150,150);
    }
    .active {
      border-bottom: 5px solid black;
      color: black;
    }
  }
}

.dashboard-featured-container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  .top-featured {
    margin-left: 50px;
    margin-top: 20px;
    width: 40%;
    iframe {
      margin-left: 40px;
      margin-top: 20px;
    }
  }
}

.other-featured-list {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  div {
    display: flex;
    margin: 15px 0;
    img {
      max-width: 50px;
      max-height: 50px;
    }
  }
  .dashboard-desc {
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-top: 10px;
  }
}

.item-description {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
