body {
  height: 100%;
  background-color: #1F2833;
  color: #C5C6C8;
}
.dashboard-header-stats {
  height: 100px;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1px solid #66FCF1;
  // box-shadow: 1px 1px 4px black;
  margin-top: 100px;
}

.total-backers, .live-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  font-size: 40px;
  text-shadow: 1px 2px 4px black;
  p {
    margin-left: 25px;
  }
}

.dashboard-category-header {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 24px;
  div {
    width: 260px;
    padding-left: -25px;
    
    span {
      cursor: pointer;
      margin: 0 10px;
      color: gray;
    }
    .active {
      border-bottom: 5px solid #45A29E;
      color: #45A29E;
      text-shadow: 1px 2px 4px black;
    }
  }
}

.dashboard-featured-container {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  .top-featured {
    display: flex;
    margin-top: 20px;
    margin-right: 90px;
  }
  h4 {
    margin-bottom: 10px;
  }
}

.other-featured-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid #66FCF1;
  text-shadow: 1px 2px 4px black;
  .dashboard-desc {
    width: 400px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-top: 10px;
  }
}

.item-container {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 30px;
  img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 20px;
  }
}

.item-description {
  :nth-child(2) {
    color: #45A29E
  }
}


@media (max-width: 500px) {
  .dashboard-header-stats {
    height: 60px;
    margin-top: 60px;
  }
  .total-backers, .live-projects {
  font-size: 17px;
  p {
    margin-left: 5px;
  }
}
.dashboard-category-header {
  font-size: 24px;
  div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.dashboard-featured-container {
  margin-bottom: 50px;
  display: block;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
  .top-featured {
    margin-top: 10px;
    margin-right: 0px;
  }
}
.other-featured-list {
  border: 1px solid #66FCF1;
  text-shadow: 1px 2px 4px black;
  padding-bottom: 20px;
  .dashboard-desc {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 0px;
    padding-top: 10px;
  }
}
.item-container {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 5 auto;
  font-size: 20px;
  a > img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
  }
}

}