
header {
  display: flex;
  height: 70px;
  padding: 0 15px;
  margin-left: 0;
  justify-content: space-between;
  align-items: center;
  background-color: lightcoral;
  font-size: 24px;
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
  .header-container-left {
    display: flex;
    list-style-type: none;
    a:nth-child(2) {
      margin: 0 10px;
    }
  }
  .header-container-right {
    display: flex;
    list-style-type: none;
    li {
      cursor: pointer;
    }
    li:nth-child(2) {
      margin: 0 10px;
      cursor: pointer;
    }
    a:nth-child(2) {
      margin: 0 10px;
    }
  }
}