.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  h1 {
    font-size: 56px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px 3px black;

  }
  button {
    background-color: salmon;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  p, a, h1{
    z-index: 1;
  }
}
.landing-ul { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.landing-ul li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;  /* center the image on the page */
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 40s linear infinite; 
}

.landing-ul li:nth-child(1) { 
  background-image: url('https://i.imgur.com/QXk3m3n.jpg') 
}
.landing-ul li:nth-child(2) { 
  background-image: url('https://i.imgur.com/FiAj7SO.jpg');
  animation-delay: 10s; 
}
.landing-ul li:nth-child(3) { 
  background-image: url('https://i.imgur.com/FNezMJC.jpg');
  animation-delay: 20s; 
}
.landing-ul li:nth-child(4) { 
  background-image: url('https://i.imgur.com/KMQJGnk.jpg');
  animation-delay: 30s; 
}


@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

.no-cssanimations .landing-ul li {
	opacity: 1;
}




@media (max-width: 500px) {
  .landing-container {
    height: 60vh;
    max-width: 500px;
  
    h1 {
      font-size: 40px;
      text-align: center;
    }

  }

}