
.profile-container {
  min-height: 80vh;
  margin-top: 90px;
}

.profile-top-container {
  display: flex;
  justify-content: center;
  min-height: 500px;
}

.profile-details {
  flex: 1;
  background-color: red;
}

.profile-main {
  flex: 3;
  background-color: yellow;
}

