
.profile-container {
  min-height: 80vh;
  margin-top: 90px;
}

.profile-top-container {
  display: flex;
  justify-content: center;
  min-height: 500px;
}

.profile-details {
  flex: 1;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    max-height: 300px;
  }
}

.profile-main {
  flex: 3;
  background-color: yellow;
}

