
.registration-container {
  min-height: 80vh;
  margin-top: 90px;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  @extend %flex-column;
  span {
    display: flex;
    flex-direction: row;
    width: 400px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 25px;
  }
  .input {
    margin: 10px 0;
    width: 500px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
  }
  button {
    padding: 15px;
    border-radius: 5px;
    width: 150px;
    font-size: 20px;
    margin-top: 10px;
  }
  button:hover {
    background-color: blue;
    cursor: pointer;
  }
  .invalid-feedback {
    color: red;
  }
  .is-invalid {
    border: 1px solid red;
  }
  .submit-button {
    width: 300px;
    padding: 25px;
    margin: 10px 0;
  }
}