.single-container {
  min-height: 100vh;
}

.single-header-container {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 50px;
  h1 {
    margin-left: 100px;
    font-size: 50px;
  }
  h3 {
    font-size: 36px;
    margin-left: 120px;
    color: lightgray;
  }
}

.single-body-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 100px auto;
  margin-top: 50px;
}

.single-goal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  :nth-child(2) {
    font-size: 20px;
    text-align: center;
  }
  :nth-child(1), :nth-child(3), :nth-child(4) {
    font-size: 24px;
    margin: 5px 0px;
  }
  button {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin-top: 40px;
  }
}

.single-contribute {
  display: flex;
  div {
    margin-left: 40px;
  }
}