/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.landing-container h1 {
  font-size: 56px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 2px 3px black;
}

.landing-container button {
  background-color: salmon;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.landing-container p, .landing-container a, .landing-container h1 {
  z-index: 1;
}

.landing-ul {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.landing-ul li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  /* center the image on the page */
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  -webkit-animation: imageAnimation 40s linear infinite;
          animation: imageAnimation 40s linear infinite;
}

.landing-ul li:nth-child(1) {
  background-image: url("https://i.imgur.com/QXk3m3n.jpg");
}

.landing-ul li:nth-child(2) {
  background-image: url("https://i.imgur.com/FiAj7SO.jpg");
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.landing-ul li:nth-child(3) {
  background-image: url("https://i.imgur.com/FNezMJC.jpg");
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

.landing-ul li:nth-child(4) {
  background-image: url("https://i.imgur.com/KMQJGnk.jpg");
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding: 0 15px;
  margin-left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightcoral;
}

header a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

header .header-container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header .header-container-left a:nth-child(2) {
  margin: 0 10px;
}

header .header-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header .header-container-right a:nth-child(2) {
  margin: 0 10px;
}

.reg-log-header {
  text-align: center;
  margin-top: 25px;
  font-size: 50px;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container input {
  margin: 10px 0;
  width: 500px;
  height: 30px;
  padding-left: 10px;
  font-size: 20px;
}

.form-container button {
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  font-size: 20px;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: blue;
  cursor: pointer;
}

.form-container .invalid-feedback {
  color: red;
}

.form-container .is-invalid {
  border: 1px solid red;
}

.form-container .submit-button {
  width: 300px;
  padding: 25px;
}

footer {
  height: 100px;
  background-color: purple;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */