/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.landing-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.landing-container h1 {
  font-size: 56px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 2px 3px black;
}

.landing-container button {
  background-color: salmon;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.landing-container p, .landing-container a, .landing-container h1 {
  z-index: 1;
}

.landing-ul {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.landing-ul li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  /* center the image on the page */
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  -webkit-animation: imageAnimation 40s linear infinite;
          animation: imageAnimation 40s linear infinite;
}

.landing-ul li:nth-child(1) {
  background-image: url("https://i.imgur.com/QXk3m3n.jpg");
}

.landing-ul li:nth-child(2) {
  background-image: url("https://i.imgur.com/FiAj7SO.jpg");
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.landing-ul li:nth-child(3) {
  background-image: url("https://i.imgur.com/FNezMJC.jpg");
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

.landing-ul li:nth-child(4) {
  background-image: url("https://i.imgur.com/KMQJGnk.jpg");
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  padding: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #202833;
  font-size: 30px;
  color: #45A29E;
  font-weight: bold;
  border-bottom: 1px solid #66FCF1;
  text-shadow: 1px 2px 4px black;
  position: fixed;
  top: 0;
  width: 100%;
}

header a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

header .header-container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

header .header-container-left li {
  margin: 0 5px;
}

header .header-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-right: 20px;
}

header .header-container-right li {
  cursor: pointer;
  margin: 0 5px;
}

.login-container {
  min-height: 80vh;
  margin-top: 90px;
}

.reg-log-header {
  text-align: center;
  margin-top: 25px;
  font-size: 50px;
}

.registration-container {
  min-height: 80vh;
  margin-top: 90px;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 20px;
  margin-top: 25px;
}

.form-container .input {
  margin: 10px 0;
  width: 500px;
  height: 30px;
  padding-left: 10px;
  font-size: 20px;
}

.form-container button {
  padding: 15px;
  border-radius: 5px;
  width: 150px;
  font-size: 20px;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: blue;
  cursor: pointer;
}

.form-container .invalid-feedback {
  color: red;
}

.form-container .is-invalid {
  border: 1px solid red;
}

.form-container .submit-button {
  width: 300px;
  padding: 25px;
  margin: 10px 0;
}

body {
  height: 100%;
  background-color: #1F2833;
  color: #C5C6C8;
}

.dashboard-header-stats {
  height: 100px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  border: 1px solid #66FCF1;
  margin-top: 100px;
}

.total-backers, .live-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50%;
  font-size: 40px;
  text-shadow: 1px 2px 4px black;
}

.total-backers p, .live-projects p {
  margin-left: 25px;
}

.dashboard-category-header {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 24px;
}

.dashboard-category-header div {
  width: 260px;
  padding-left: -25px;
}

.dashboard-category-header div span {
  cursor: pointer;
  margin: 0 10px;
  color: gray;
}

.dashboard-category-header div .active {
  border-bottom: 5px solid #45A29E;
  color: #45A29E;
  text-shadow: 1px 2px 4px black;
}

.dashboard-featured-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 150px;
}

.dashboard-featured-container .top-featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: 90px;
}

.dashboard-featured-container h4 {
  margin-bottom: 10px;
}

.other-featured-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  border: 1px solid #66FCF1;
  text-shadow: 1px 2px 4px black;
}

.other-featured-list .dashboard-desc {
  width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
  padding-top: 10px;
}

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 30px;
}

.item-container a > img {
  max-width: 80px;
  max-height: 80px;
  margin-right: 10px;
}

.item-description :nth-child(2) {
  color: #45A29E;
}

.single-container {
  min-height: 100vh;
  margin-top: 90px;
}

.single-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 50px;
}

.single-header-container h1 {
  margin-left: 100px;
  font-size: 50px;
}

.single-header-container h3 {
  font-size: 36px;
  margin-left: 120px;
  color: lightgray;
}

.single-body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px auto;
}

.single-goal-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

.single-goal-info .donation-line {
  width: 100%;
  border: 1px solid black;
  min-height: 25px;
  margin: 0;
}

.single-goal-info > p {
  text-align: center;
  font-size: 24px;
  margin: 8px 0;
}

.single-goal-info .button {
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  background-color: #1F2833;
  color: white;
  border: 1px solid #66FCF1;
  font-size: 18px;
}

.single-contribute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.single-contribute select {
  height: 30px;
  width: 118px;
  margin-right: 10px;
}

.stripe-button {
  background-color: purple;
}

.button:hover {
  background-color: #66FCF1;
  color: #1F2833;
  border: 1px solid #1F2833;
  cursor: pointer;
}

.add-campaign-container {
  min-height: 81.5vh;
  margin-top: 90px;
}

.form-container .invalid-feedback {
  color: red;
}

.form-container .is-invalid {
  border: 1px solid red;
}

.profile-container {
  min-height: 80vh;
  margin-top: 90px;
}

.profile-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 500px;
}

.profile-details {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-details img {
  max-height: 300px;
}

.profile-main {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: yellow;
}

.modal-container {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  min-height: 300px;
  border-radius: 20px;
  padding: 25px;
  background-color: red;
  -webkit-box-shadow: 1px 1px 3px black;
          box-shadow: 1px 1px 3px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-container button {
  width: 100px;
  margin: 5px 0;
  padding: 5px 0;
  border-radius: 5px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #0B0C10;
  width: 100%;
}
/*# sourceMappingURL=main.css.map */